{% extends '::email.html.twig' %}
{% block body %}
<h3>Invitation from Flyeurope20</h3>
<p>You have been invited to join a Group <a href="{{ invitationLink }}">{{ groupname }}</a> in Fly</p>
{% endblock %}