
<h5>Hi</h5>
<p>You have successfully registered with fly platform</p>
<p>

Here is your login detail :- 
<br><br>
Email:- {{user.email}}<br>
Password:- {{pwd}}
</p>


<p>
Change your password :- <a href="{{resetPasswordUrl}}">{{resetPasswordUrl}}</a>
</p>