<div class="container-fluid footer-block">
    <div class="container">
        <div class="row row-relative">
            <div class="col-md-3 col-sm-12 info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero ipsum, lacinia sit amet interdum in, interdum id purus. Proin vulputate quis purus vel euismod.
            </div>
            <div class="col-md-6 col-sm-12 col-md-offset-3 menu">
                <div class="col-md-4 col-sm-12">
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Our Clients</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12">
                    <ul>
                        <li><a href="#">Tour Packages</a></li>
                        <li><a href="#">Delivery</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12">
                    <ul>
                        <li><a href="#">Custom Care</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 social">
                <div class="follow">
                    <div class="col-md-12">
                        <h3>Follow us:</h3>
                    </div>
                    <div class="col-md-2">
                        <a href="#">
                            <div class="social-circle"><i class="fa fa-facebook-f"></i></div>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">
                            <div class="social-circle"><i class="fa fa-twitter"></i></div>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">
                            <div class="social-circle"><i class="fa fa-instagram"></i></div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="app">
                    <div class="col-md-12">
                        <h3>Download App:</h3>
                    </div>
                    <div class="col-md-2">
                        <a href="#">
                            <div class="social-circle"><i class="fa fa-apple"></i></div>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">
                            <div class="social-circle"><i class="fa fa-android"></i></div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr class="separator" />
        <div class="row">
            <div class="col-md-6 col-sm-12 copyright">
                &copy;2016 ITMATIC All rights reserved
            </div>
            <div class="col-md-6 col-sm-12 payment">
                <ul class="pull-right">
                    <li><a href="#"><img src="{{ asset('bundles/flyplatform/img/frontend/aexp.png') }}"></a></li>
                    <li><a href="#"><img src="{{ asset('bundles/flyplatform/img/frontend/mastercard.png') }}"></a></li>
                    <li><a href="#"><img src="{{ asset('bundles/flyplatform/img/frontend/bitcoin.png') }}"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>