<div class="container-fluid hero-block">

    <div class="row hero-text">
        <div class="col-md-12 text-center">
            <h1>Travel with Bros</h1>
            <h2>Reinvented</h2>
        </div>
    </div>

    <div class="row hero-lfs-search">
        <div class="col-md-5 hr-devider"><hr /></div>
        <div class="col-md-2 text-center lfs-head">
            FLIGHTS
        </div>
        <div class="col-md-5 hr-devider"><hr /></div>
        <div class="col-md-12 text-center lfs-form">
            {{ include('@FlyPlatform/Default/lfs/search_form.html.twig') }}
        </div>
        <div class="col-md-5 hr-devider"><hr class="foot" /></div>
        <div class="col-md-2 text-center lfs-footer">
            <i class="fa fa-plus"></i> Options
        </div>
        <div class="col-md-5 hr-devider"><hr class="foot" /></div>
    </div>

</div>