<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Flyeurope20.com!{% endblock title %}</title>
    {% block stylesheets %}{% endblock stylesheets %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>