<div role="tabpanel" class="tab-pane pkg-pane-act" id="activites">
    {#{{ include('FlyUserBundle:Package/form:actItemForm.html.twig') }}#}
    {{ include('FlyUserBundle:Package/form:actForm.html.twig') }}
</div>