
<div class="modal fade" id="modalGroupNew" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="display: none;">

    {#<div class="modal-dialog modal-lg">#}
        {#<div class="form-step-progress">#}
            {#<div class="form-wizard-basic fw-container">#}
                {#<ul class="tab-nav text-center fw-nav" tabindex="11" style="overflow: hidden; outline: none;">#}
                    {#<li class=""><a href="#tab1" data-toggle="tab" aria-expanded="false"><button class="btn btn-default btn-icon waves-effect waves-button waves-float">1</button></a></li>#}
                    {#<li class=""><a href="#tab2" data-toggle="tab" aria-expanded="false"><button class="btn btn-default btn-icon waves-effect waves-button waves-float">2</button></a></li>#}
                    {#<li class=""><a href="#tab3" data-toggle="tab" aria-expanded="false"><button class="btn btn-default btn-icon waves-effect waves-button waves-float">3</button></a></li>#}
                    {#<li class=""><a href="#tab4" data-toggle="tab" aria-expanded="false"><button class="btn btn-default btn-icon waves-effect waves-button waves-float">4</button></a></li>#}
                    {#<li class=""><a href="#tab5" data-toggle="tab" aria-expanded="false"><button class="btn btn-default btn-icon waves-effect waves-button waves-float">5</button></a></li>#}
                    {#<li class=""><a href="#tab6" data-toggle="tab" aria-expanded="true"><button class="btn btn-default btn-icon waves-effect waves-button waves-float">6</button></a></li>#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}
        {#<!-- 1-st step -->#}
        {#<div class="modal-content group-form-step form-first-step animated" id="form-step-1" >#}
            {#<div class="modal-header">#}
                {#<h4 class="modal-title">Who are you trevelling with?</h4>#}
            {#</div>#}
            {#<div class="modal-body">#}
                {#<h5>Choose one</h5>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float form-step" data-form-block="1" data-form-step="next">Friend trip</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float form-step" data-form-block="1" data-form-step="next">Family trip</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float form-step" data-form-block="1" data-form-step="next">Colleague trip</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float form-step" data-form-block="1" data-form-step="next">Love trip</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float form-step" data-form-block="1" data-form-step="next">A tribe</button>#}
            {#</div>#}
            {#<div class="modal-footer">#}
                {#<button type="button" class="btn btn-primary  waves-effect waves-button waves-float form-step" data-form-block="1" data-form-step="next" >Next <i class="md md-chevron-right"></i></button>#}
                {#<button type="button" class="btn btn-link waves-effect waves-button waves-float pull-left" data-dismiss="modal" >Close</button>#}
            {#</div>#}
        {#</div>#}

        {#<!-- 2-st step -->#}
        {#<div class="modal-content group-form-step form-inner-step animated" id="form-step-2">#}
            {#<div class="modal-header">#}
                {#<h4 class="modal-title">What do you have in mind?</h4>#}
            {#</div>#}
            {#<div class="modal-body">#}
                {#<h5>Choose up to 5</h5>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="2">Drink Cocktails</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="2">Sunshine</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="2">Beach</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="2">Party</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="2">City Break</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="2">Countryside break</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="2">Outdoor activities</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="2">Cultural activities</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="2">Bars</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="2">Restaurant</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="2">Art activity</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="2">Sports activity</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="2">Social local meetings</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="2">Food activities</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="2">Photography</button>#}
            {#</div>#}
            {#<div class="modal-footer">#}
                {#<button type="button" class="btn btn-default waves-effect waves-button waves-float form-step" data-form-block="2" data-form-step="prev"><i class="md md-chevron-left"></i> Previous</button>#}
                {#<button type="button" class="btn btn-primary  waves-effect waves-button waves-float form-step" data-form-block="2" data-form-step="next">Next <i class="md md-chevron-right"></i></button>#}
                {#&#123;&#35;<button type="button" class="btn btn-link waves-effect waves-button waves-float" data-dismiss="modal">Close</button>&#35;&#125;#}
            {#</div>#}
        {#</div>#}

        {#<!-- 3-st step -->#}
        {#<div class="modal-content group-form-step form-inner-step animated " id="form-step-3">#}
            {#<div class="modal-header">#}
                {#<h4 class="modal-title">What kind of accomodation?</h4>#}
            {#</div>#}
            {#<div class="modal-body">#}
                {#<h5>Choose up to 3</h5>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="3">Hosted</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="3">1 star hotel</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="3">2 stars hotel</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="3">3 stars hotel</button>#}
            {#</div>#}
            {#<div class="modal-footer">#}
                {#<button type="button" class="btn btn-default waves-effect waves-button waves-float form-step" data-form-block="3" data-form-step="prev"><i class="md md-chevron-left"></i> Previous</button>#}
                {#<button type="button" class="btn btn-primary  waves-effect waves-button waves-float form-step" data-form-block="3" data-form-step="next">Next <i class="md md-chevron-right"></i></button>#}
                {#&#123;&#35;<button type="button" class="btn btn-link waves-effect waves-button waves-float" data-dismiss="modal">Close</button>&#35;&#125;#}
            {#</div>#}
        {#</div>#}

        {#<!-- 4-st step -->#}
        {#<div class="modal-content group-form-step form-inner-step animated " id="form-step-4">#}
            {#<div class="modal-header">#}
                {#<h4 class="modal-title">What kind of transportation?</h4>#}
            {#</div>#}
            {#<div class="modal-body">#}
                {#<h5>Choose up to 2</h5>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="4">Flight</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="4">Train</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="4">Bus</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="4">Car</button>#}
                {#<button class="btn btn-default waves-effect waves-button waves-float " data-form-block="4">Boat</button>#}
            {#</div>#}
            {#<div class="modal-footer">#}
                {#<button type="button" class="btn btn-default waves-effect waves-button waves-float form-step" data-form-block="4" data-form-step="prev"><i class="md md-chevron-left"></i> Previous</button>#}
                {#<button type="button" class="btn btn-primary  waves-effect waves-button waves-float form-step" data-form-block="4" data-form-step="next">Next <i class="md md-chevron-right"></i></button>#}
                {#&#123;&#35;<button type="button" class="btn btn-link waves-effect waves-button waves-float" data-dismiss="modal">Close</button>&#35;&#125;#}
            {#</div>#}
        {#</div>#}

        {#<!-- 5-st step -->#}
        {#<div class="modal-content group-form-step form-inner-step animated " id="form-step-5">#}
            {#<div class="modal-header">#}
                {#<h4 class="modal-title">Where do you want to go?</h4>#}
            {#</div>#}
            {#<div class="modal-body">#}
                {#<h5>Choose up to 5 places</h5>#}
                {#Google map sities choose#}
                {#<div class="checkbox m-b-15">#}
                    {#<label>#}
                        {#<input type="checkbox" value="">#}
                        {#<i class="input-helper"></i>#}
                        {#We don't know yet, we'll decide!#}
                    {#</label>#}
                {#</div>#}
            {#</div>#}
            {#<div class="modal-footer">#}
                {#<button type="button" class="btn btn-default waves-effect waves-button waves-float form-step" data-form-block="5" data-form-step="prev"><i class="md md-chevron-left"></i> Previous</button>#}
                {#<button type="button" class="btn btn-primary  waves-effect waves-button waves-float form-step" data-form-block="5" data-form-step="next">Next <i class="md md-chevron-right"></i></button>#}
                {#&#123;&#35;<button type="button" class="btn btn-link waves-effect waves-button waves-float" data-dismiss="modal">Close</button>&#35;&#125;#}
            {#</div>#}
        {#</div>#}

        {#<!-- 6-st step -->#}
        {#<div class="modal-content group-form-step form-last-step animated " id="form-step-6">#}
            {#<div class="modal-header">#}
                {#<h4 class="modal-title">Do you know when you want to go?</h4>#}
            {#</div>#}
            {#<div class="modal-body">#}
                {#&#123;&#35;<h5>Choose up to 5 places</h5>&#35;&#125;#}
                {#Calendar for start date#}
                {#Flexibility 1/2/3 days#}
                {#Calendar for return date#}
                {#Flexibility 1/2/3 days#}
                {#<div class="checkbox m-b-15">#}
                    {#<label>#}
                        {#<input type="checkbox" value="">#}
                        {#<i class="input-helper"></i>#}
                        {#We don't know yet, we'll decide!#}
                    {#</label>#}
                {#</div>#}
            {#</div>#}
            {#<div class="modal-footer">#}
                {#<button type="button" class="btn btn-default waves-effect waves-button waves-float form-step" data-form-block="6" data-form-step="prev"><i class="md md-chevron-left"></i> Previous</button>#}
                {#<button type="button" class="btn btn-primary  waves-effect waves-button waves-float form-submit" data-form-block="6" data-form-step="submit"><i class="md md-save"></i> Submit</button>#}
                {#&#123;&#35;<button type="button" class="btn btn-link waves-effect waves-button waves-float" data-dismiss="modal">Close</button>&#35;&#125;#}
            {#</div>#}
        {#</div>#}

        {#&#123;&#35;<!-- 3-st step -->&#35;&#125;#}
        {#&#123;&#35;<div class="modal-content group-form-step form-last-step animated" id="form-step-3">&#35;&#125;#}
            {#&#123;&#35;<div class="modal-header">&#35;&#125;#}
                {#&#123;&#35;<h4 class="modal-title">Step 3</h4>&#35;&#125;#}
            {#&#123;&#35;</div>&#35;&#125;#}
            {#&#123;&#35;<div class="modal-body">&#35;&#125;#}
                {#&#123;&#35;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut. Ut accumsan vitae eros sit amet tristique. Nullam scelerisque nunc enim, non dignissim nibh faucibus ullamcorper. Fusce pulvinar libero vel ligula iaculis ullamcorper. Integer dapibus, mi ac tempor varius, purus nibh mattis erat, vitae porta nunc nisi non tellus. Vivamus mollis ante non massa egestas fringilla. Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc.</p>&#35;&#125;#}
            {#&#123;&#35;</div>&#35;&#125;#}
            {#&#123;&#35;<div class="modal-footer">&#35;&#125;#}
                {#&#123;&#35;<button type="button" class="btn btn-default waves-effect waves-button waves-float step-prev" data-form-block="3"><i class="md md-chevron-left"></i> Previous</button>&#35;&#125;#}
                {#&#123;&#35;<button type="button" class="btn btn-success waves-effect waves-button waves-float step-submit" data-form-block="3"><i class="md md-save"></i> Submit</button>&#35;&#125;#}
                {#&#123;&#35;&#123;&#35;<button type="button" class="btn btn-link waves-effect waves-button waves-float" data-dismiss="modal">Close</button>&#35;&#125;&#35;&#125;#}
            {#&#123;&#35;</div>&#35;&#125;#}
        {#&#123;&#35;</div>&#35;&#125;#}


    {#</div>#}
</div>