{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Act edit</h1>
   <div class="alert alert-danger"> {{ form_errors(edit_form) }}</div>
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('act') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
