<h3>Invitation from Flyeurope20</h3>
<p>You have been invited to join a group {{ groupname }} in Fly</p>
<p>Please click on the link : <a href="{{ invitationLink }}">Invitatio to registration</a> to register on our site.</p>
