<div class="modal-dialog modal-lg">
    <div class="form-step-progress">
        <div class="form-wizard-basic fw-container">
            <ul class="tab-nav text-center fw-nav" tabindex="11" style="overflow: hidden; outline: none;">
                <li class="active">
                    <a href="#" data-toggle="tab" aria-expanded="true" id="form-progress-1">
                        <button class="btn btn-default btn-icon waves-effect waves-button waves-float  waves-effect waves-button waves-float"
                                data-form-block="1">1
                        </button>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="tab" aria-expanded="false" id="form-progress-2">
                        <button class="btn btn-default btn-icon waves-effect waves-button waves-float  waves-effect waves-button waves-float"
                                data-form-block="2">2
                        </button>
                    </a>
                </li>
                <li class=""><a href="#" data-toggle="tab" aria-expanded="false" id="form-progress-3">
                        <button class="btn btn-default btn-icon waves-effect waves-button waves-float disabled waves-effect waves-button waves-float"
                                data-form-block="3">3
                        </button>
                    </a></li>
                <li class=""><a href="#" data-toggle="tab" aria-expanded="false" id="form-progress-4">
                        <button class="btn btn-default btn-icon waves-effect waves-button waves-float disabled waves-effect waves-button waves-float"
                                data-form-block="4">4
                        </button>
                    </a></li>
                <li class=""><a href="#" data-toggle="tab" aria-expanded="false" id="form-progress-5">
                        <button class="btn btn-default btn-icon waves-effect waves-button waves-float disabled waves-effect waves-button waves-float"
                                data-form-block="5">5
                        </button>
                    </a></li>
                <li class=""><a href="#" data-toggle="tab" aria-expanded="false" id="form-progress-6">
                        <button class="btn btn-default btn-icon waves-effect waves-button waves-float disabled waves-effect waves-button waves-float"
                                data-form-block="6">6
                        </button>
                    </a></li>
                <li class=""><a href="#" data-toggle="tab" aria-expanded="false" id="form-progress-7">
                        <button class="btn btn-default btn-icon waves-effect waves-button waves-float disabled waves-effect waves-button waves-float"
                                data-form-block="7">7
                        </button>
                    </a></li>
                <li class=""><a href="#" data-toggle="tab" aria-expanded="false" id="form-progress-8">
                        <button class="btn btn-default btn-icon waves-effect waves-button waves-float disabled waves-effect waves-button waves-float"
                                data-form-block="8">8
                        </button>
                    </a></li>
                <li class=""><a href="#" data-toggle="tab" aria-expanded="false" id="form-progress-9">
                        <button class="btn btn-default btn-icon waves-effect waves-button waves-float disabled waves-effect waves-button waves-float"
                                data-form-block="9">9
                        </button>
                    </a></li>
                <li class=""><a href="#" data-toggle="tab" aria-expanded="false" id="form-progress-10">
                        <button class="btn btn-default btn-icon waves-effect waves-button waves-float disabled waves-effect waves-button waves-float"
                                data-form-block="10">10
                        </button>
                    </a></li>
            </ul>
        </div>
    </div>
</div>
