<!-- Modal -->
<div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="groupModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_start(groupListForm,{'action':path('fly_user_friends_group_invite'),'attr':{'class':'form-invite-friends-group'}}) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Invite a Friend to a Group</h4>
            </div>
            <div class="modal-body">

                {{ form_widget(groupListForm) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            {{ form_end(groupListForm) }}
        </div>
    </div>
</div>